@use 'variables' as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #000;
}
