@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Prata&display=swap');
$body-color: #000;
$font-heading-color: #ffff;
$font-body-color: #808081;
$community-bg: #2e3038;
$ff-body: 'Inter', sans-serif;
$ff-headings: 'Prata', serif;
$btn-color: #fbe850;

/* Media Quieries */
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
